URxvt.scrollBar: false
URxvt.saveLines: 10000

!*.font: xft:Iosevka:style=Regular:size=8
URxvt.font: xft:Iosevka:style=Regular:size=10:antialias=true
URxvt.boldFont: xft:Iosevka:style=Bold:size=10:antialias=true

!URxvt*transparent: true
!URxvt*shading: 15 

URxvt.perl-ext-common: default,matcher,clipboard,url-select,keyboard-select,font-size

URxvt.url-launcher: /usr/lib/brave-bin/brave
URxvt.matcher.button: 1

!Univeral Copy-Paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14655_52: false
